.Signin{
    text-align: center !important;
    /*margin-top: 70px !important;*/
    font-size: 50px !important;
    margin-bottom: -30px !important;
    font-family: montserrat !important;
    
}
.bkg{
    /*background-image: url("images/login.jpg");*/
    background-color: #FFF;
}
.btn-login{
        background-color: #fba433;
    color:#fff;
    border-color: #fba433;
    margin-left: 110px !important;
    padding: 10px 91px 10px 91px !important;
}
.btn-login:hover{
     background-color: #df9b42;
    color:#fff;
    border-color: #df9b42;

}

.nav-header{
    background-color: #3a4147 !important;
    font-family: montserrat !important;
}
.nav-linkN{
    color: #fff !important;
    font-size: 18px;
    font-family: montserrat !important;
}
.nav-linkN:hover{
    color: #d7d7d7 !important;
}
.loginbox1{
  /*  margin-top:180px;
    margin-left: 300px;
    padding-bottom: 1%;*/
    border-radius: 22px;
    /*background-color: rgba(255, 255, 255,1);*/
}
.top-space1{
    margin-top: 5%;
    float: right;
    padding:1%;
}
.loginbox1{
    padding: 1%;
}
.full {
    width: 100%;    
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #EDEFF1;
    height: auto;
    margin-top: 23.5%;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}
.footer-bottom {
    background: #ccdc48;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    font-size: 1.5em;   
}
.centers{
    margin-left: 35%;
}
.headfoot{
    background-color: #ba3b46 !important;
}
.carousel-caption {
    top: 40%;
    bottom: auto;
}
.headfoot{
    background-color: #3498DB!important;
}
.jumbotron{
	background-color: #fff;
    margin-top: 2rem;
    padding:3rem 13rem;
}
.logo{
    width:70%;
    padding: 2rem 0;
}
.headerlogo{
    width:20%;
}
body{
    font-family: montserrat !important;
}


