.bkg{
    background-color: #ffffff !important;
}
.btn{
    background-color: #fba433;
    color:#fff;
    border-color: #fba433;

}
.btn:hover{
    background-color: #df9b42;
    color:#fff;
    border-color: #df9b42;

}
.nav-header{
    background-color: #3a4147 !important;
    font-family: montserrat !important;
}
.nav-linkN{
    color: #fff!important;
    font-size: 18px !important;
    font-family: montserrat !important;
}
.nav-linkN:hover{
    color: #444 !important;
}
.headfoot{
    background-color: #3498DB!important;
}
.footer-bottom {
    background: #3498DB !important;
}
body{
    font-family: montserrat !important;
}