.signupbox{
    width: 99% !important;
}
.Signin{
    text-align: center !important;
    margin-top: 50px !important;
    font-size: 50px !important;
    margin-bottom: -30px !important;
    font-family: montserrat !important;
}
.bkg{
    background-color: #FFF !important;

}
.btn-signup{
    background-color: #129ed9 !important;
    color:#fff;
    border-color: #129ed9;
    padding: 10px 91px 10px 91px !important;
}
.btn-signup:hover{
    background-color: #2d7b9b !important;
    border-color: #2d7b9b;
    color:#f4f4f4;

}
.nav-header{
    background-color: #3a4147 !important;
    font-family: montserrat !important;
}
.nav-linkN{
    color: #fff!important;
    font-size: 18px;
    font-family: montserrat !important;
}
.nav-linkN:hover{
    color: #444 !important;
}
.loginbox1{
    margin-top:180px;
    margin-left: 300px;
}
.signup{
    margin-right: 400px !important;
}
.title{
    margin-top: 2%;
    text-align: left;
    font-family: montserrat;
    font-size: 50px;
}
.signups{
    background-color: rgba(255, 255, 255);
    font-family: montserrat;
    border-radius: 23px;
    margin-top: -50px;

}
.rightspace{
    margin-left: 5%;
}
.headfoot{
    background-color: #ccdc48!important;
}
.logo{
    width:70%;
    padding: 2rem 0;
}
.headerlogo{
    width:20%;
}

